.storis {
  width: 65%;
  height: 245px;
  border-radius: 16px;
  background: #f2f5f9;
  margin: 0 auto;
  padding: 40px;
}

.storis .storis_block {
  gap: 10px;
  display: flex;
  overflow-y: hidden;
  height: 100%;
}

.storis .storis_content {
  width: 99.666px;
  height: 99.666px;
}

.storis .storis_content img {
  width: 99.666px;
  height: 99.666px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 20px 0 0 0;
}

.storis .storis_content:first-child {
  margin-left: 5%;
}

.storis .storis_content:last-child {
  margin-right: 5%;
}

.storis .status {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  background: black;
}

.storis .not_status {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.486);
}

.storis .status img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.storis .renge {
  top: 8px;
  left: 5%;
  width: 90%;
  height: 5px;
  position: absolute;
  border-radius: 2px !important;
  outline: none !important;
  background: rgba(61, 61, 61, 0.6);
  -webkit-appearance: none;
}

.storis .renge::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none !important;
  outline: none;
  width: 30px;
  height: 5px;
  border-radius: 3px !important;
  background: #d8d8d8;
}
.storis_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.storis_div h5 {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.storis_div button {
  border-radius: 8px;
  background: #fff;
  padding: 16px 25px;
  align-items: flex-start;
  gap: 8px;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--primary);
  cursor: pointer;
}

